/*Chakra-Petch-300-700 Latin */

@font-face {
  font-display: swap;
  font-family: 'Chakra Petch';
  font-style: normal;
  font-weight: 300;
  src: url('/fonts/chakra-petch-v13-latin-300.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Chakra Petch';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/chakra-petch-v13-latin-regular.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Chakra Petch';
  font-style: normal;
  font-weight: 500;
  src: url('/fonts/chakra-petch-v13-latin-500.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Chakra Petch';
  font-style: normal;
  font-weight: 600;
  src: url('/fonts/chakra-petch-v13-latin-600.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Chakra Petch';
  font-style: normal;
  font-weight: 700;
  src: url('/fonts/chakra-petch-v13-latin-700.woff2') format('woff2');
}


/* exo-2-300-700 - cyrillic_latin */
@font-face {
  font-display: swap;
  font-family: 'Exo 2';
  font-style: normal;
  font-weight: 300;
  src: url('/fonts/exo-2-v26-cyrillic_latin-300.woff2') format('woff2');
}


@font-face {
  font-display: swap;
  font-family: 'Exo 2';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/exo-2-v26-cyrillic_latin-regular.woff2') format('woff2');
}


@font-face {
  font-display: swap;
  font-family: 'Exo 2';
  font-style: normal;
  font-weight: 500;
  src: url('/fonts/exo-2-v26-cyrillic_latin-500.woff2') format('woff2');
}


@font-face {
  font-display: swap;
  font-family: 'Exo 2';
  font-style: normal;
  font-weight: 600;
  src: url('/fonts/exo-2-v26-cyrillic_latin-600.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Exo 2';
  font-style: normal;
  font-weight: 700;
  src: url('/fonts/exo-2-v26-cyrillic_latin-700.woff2') format('woff2');
}
