* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Chakra Petch", "Exo 2", sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

button {
  border: none;
  cursor: pointer;
}

input, select {
  border: none;
  background-color: inherit;
}