@use "../../../app/styles/mixins" as *;
@use "../../../app/styles/variables" as var;

.container {
  @include container;
  @include flex(row, space-between, center);
  @include clampProp(border-bottom-right-radius, 30px, 45px);
  @include clampProp(border-bottom-left-radius, 30px, 45px);
  background-color: white;

  .logo {
    @include flex(row, flex-start, center, 0.25rem);

    .logoImg {
      @include clampProp(height, 20px, 40px);
      @include clampProp(width, 20px, 40px);


    }

    .logoText {
      @include heading700(32px);
      @include clampProp(font-size, 20px, 32px)
    }
  }

  .menu {
    .list {
      @include paragraph500(18px);
      @include clampProp(font-size, 12px, 18px);
      @include clampProp(gap, 14px, 20px);

      display: flex;
    }
  }

  .actions {
    display: flex;
    gap: 1rem;

    .logInBtn {
      background-color: var.$blue;
      @include clampProp(padding-top, 8px, 16px);
      @include clampProp(padding-bottom, 8px, 16px);
      @include clampProp(padding-right, 10px, 18px);
      @include clampProp(padding-left, 10px, 18px);

      border-radius: 10px;

      @include paragraph600(18px);
      @include clampProp(font-size, 12px, 18px);
      color: #fff

    }
  }

  .burgerMenu {
    line-height: 0;
    color: #fff;
    //display: none;
    @include clampProp(padding, 1px, 2px);
    background-color: var.$main-price;
  }

  .menuList {
    position: fixed;
    @include flex(column, center, center);
    background-color: var.$blue;
    width: 100dvw;
    height: 100dvh;
    z-index: 999;
    color: white;
    top: 0;
    left: 0;
  }

  .menuList[data-visible="false"] {
    display: none;
  }
}

@media (max-width: 365px) {
  .container {
    .menu {
      display: none;
    }
    .actions {
      display: none;
    }
  }
}

